#container {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

button {
  border: none;
}

.btn {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  background-color: #ff4d4f;
  color: white;
  box-shadow: 0 6px #c0392b;
  transition: all 0.1s ease-in-out;
}

.btn:active {
  transform: translateY(4px);
  box-shadow: 0 2px #c0392b;
  background-color: #e84118;
}

#playSaved {
  width: 120px;
  height: 45px;
  background-color: #e510d0;
  border-radius: 25px;
  color: white;
}

#playSaved:active {
  transform: translateY(4px);
  box-shadow: 0 2px #aa0c9a;
  background-color: #f511df;
}
